/*
font-family: "Roboto", sans-serif;
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    outline: none;
}

.back-ground {
    margin: -50px;
    width: 100%;
    height: 100%;
    z-index: -2;
    position: absolute ;
    margin-right: -50px;
}

body {
    margin-right: 0;
}

main {

    width: 350px;
    background: #C7BEA9;
    border-radius: 20px;
    margin: 50px auto 40px;
    padding: 44px 24px 23px;
}

label {
    color: #777777;
    font-weight: 400;
    font-size: 14px;
}

select,
input {
    background: #FFFFFF;
    width: 100%;
    font-weight: 700;
    border-radius: 4px;
    height: 48px;
    border: 1PX solid #BBBBBB;
    margin-bottom: 24px;
    appearance: none;
    padding-left: 18px;
    font-size: 16px;
    color: #555555;
    cursor: pointer;
}

button {
    background: #271D14;
    border-radius: 5px;
    border: none;
    height: 48px;
    width: 100%;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 3px 8px #555555;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
    background-color: rgb(25, 184, 4);
}

section {
    border: 1px solid #271D14;
    border-radius: 20px;
    margin-top: 36px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrow-img {
    margin: 15px 0;
}

.currency-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;

}

.currency {
    color: #777777;
    font-size: 14px;

}

.currency-value,
.currency-value-to-convert {
    color: #555555;
    font-weight: 800;
    font-size: 20px;
}